*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgba(243, 175, 50, 0.826);
   
}

header{
    display: flex;
    width:90%;
    height: 10vh;
    background-color: antiquewhite;
    margin-left: 70px;
    margin-top: 40px;
    border-radius: 50px;
    justify-content: center;
    justify-content: space-between;
}

h1{
    margin-top: 30px;
}

figure img{
height: 80px;
margin-left: 20px;
cursor: pointer;
}

.compra{
    text-align: center;
}
.compra img{
    width: 30vw;
    height: 60vh;
}


.preco{
    width: 30vw;
    margin-left: 35%;
    display: flex;
    font-size: 35px;
    justify-content: center;
    justify-content: space-between;
}

.preco p{
    font-size: 40px;
}

.conteudo{
    
    width: 30vw;
    height: 25vh;
    margin-left: 38%;
    font-size: 24px;
    margin-top: 20px;
    
}
li{
    font-size: 24px;
    margin-left: 38%;
}
.adicionar{
    border:solid black;
    border-radius: 25%;
    width: 20vw;
    height: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 38%;

}
.adicionar p{
    margin-top:10px;
    font-size: 36px;
}

.adicionar button{
  background-color: rgba(243, 175, 50, 0.826);
  border:solid rgba(243, 175, 50, 0.826);
  border-radius: 40%;
  width: 30px;
  height: 40px;
  font-size: 24px;
  margin-top:5px;
  cursor: pointer;

}

.add button{
    color: #ffff;
    background-color: black;
    width: 20vw;
    height: 50px;
    border-radius: 30%;
    margin-left: 38%;
    margin-top: 20px;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {


    header{
        display: flex;
        width:80%;
        height: 10vh;
        background-color: antiquewhite;
        margin-left: 40px;
        margin-top: 40px;
        border-radius: 50px;
        justify-content: center;
        justify-content: space-between;
    }

    h1{
        margin-top: 20px;
    }
    
    figure img{
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
    }
    
    .compra{
        text-align: center;
    }
    .compra img{
        width: 60%;
        height: 50vh;
    }
    
    
    .preco{
        width: 30vw;
        margin-left: 15%;
        display: flex;
        font-size: 35px;
        justify-content: center;
        justify-content: space-between;
    }
    
    .preco p{
        font-size: 40px;
        margin-left: 20%;
    }
    
    .conteudo{
        
        width: 80%;
        height: 35vh;
        margin-left: 15%;
        font-size: 24px;
        margin-top: 20px;
        
    }
    li{
        font-size: 24px;
        margin-left: 15%;
    }
    .adicionar{
        border:solid black;
        border-radius: 25%;
        width: 80%;
        height: 50px;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        font-size: 24px;
        margin-top: 20px;
        margin-left: 10%;
    
    }
    .adicionar p{
        margin-top:10px;
        font-size: 36px;
    }
    
    .adicionar button{
      background-color: rgba(243, 175, 50, 0.826);
      border:solid rgba(243, 175, 50, 0.826);
      border-radius: 40%;
      width: 30px;
      height: 40px;
      font-size: 24px;
      margin-top:5px;
      cursor: pointer;
    
    }
    
    .add button{
        color: #ffff;
        background-color: black;
        width: 80%;
        height: 50px;
        border-radius: 30%;
        margin-left: 10%;
        margin-top: 20px;
        cursor: pointer;
    }
    


}